* {
    margin: 0px;
    font-family: sans-serif;
}
body {
    background-color: #252525;

}

#fondo {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#contenedor--boton__imagenes {
    width: 95%;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#astronauta--cohete {
    width: 200px;
    position: absolute;
    z-index: 2;
}


#astronauta--luna {
    width: 40%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    animation: descenso 3s 500ms;
}

#astronauta--luna img{
    width: 100%;
    max-width: 390px;
    animation: luna 5s 250ms  infinite; 

}

@keyframes descenso {
    0% {
        transform: translate(0px, -800px);
    }
    100% {
        transform: translate(0px, 0px);
    }
    
}

@keyframes luna {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 30px);
    }
    100%{
        transform: translate(0px, 0px);
    }
    
}

#contenedor--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    min-width: 350px;
}

#contenedor--btn h1 {
    color: #78B52D;
    font-size: 35px;
    margin-bottom: 20px;
}

#btn {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.116);
    box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);

}

#btn img {
    cursor: pointer;
    box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 100%;
    max-width: 250px;
    margin-bottom: 40px;
}

#contenedor--btn img{
width: 100%;
}